.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  width: 100%;
}

.pagination_link {
  align-items: center;
  border: 1px solid #333;
  color: inherit;
  display: flex;
  height: 40px;
  justify-content: center;
  min-width: 40px;
  width: 40px;
}

.paginationItem:not(:first-child) .pagination_link {
  border: 0;
}

.pageA {
  color: #fff;
  text-decoration: none;
}
