.reposContainer {
  width: 45%;
  float: left;
  padding: 20px;
  margin-left: 50px;
}

li {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;

  display: block;
  padding: 5px 3px;
}

a:hover {
  background-color: #a1a1a1;
  color: orangered;
}
