@charset "UTF-8";

.user_info {
  margin-bottom: 80px;
  display: flex;
}
.user_info img {
  margin: 0 20px 20px 0;
  max-height: 200px;
  padding: 0 2%;
  border-radius: 50%;
}

.repoFollowersFollowing .nameUser {
  color: rgb(223, 110, 69);
  text-decoration: none;
  font-style: italic;
  transition: color 0.3s;
  padding-bottom: 15px;
  display: block;
}

.repoFollowersFollowing .nameUser:hover {
  color: rgb(196, 95, 59);
}

.repoFollowersFollowing {
  margin-top: 30px;
}

.repoFollowersFollowing .resFoll {
  margin-bottom: 10px;
  letter-spacing: 1px;
}
